<%page args="is_authenticated, show_courseware_link, is_course_full, invitation_only, can_enroll, is_shib_course, can_enroll, allow_anonymous, show_courseware_link, ecommerce_checkout, ecommerce_checkout_link" expression_filter="h"/>

%if is_authenticated and registered:
    %if show_courseware_link:
    <a href="${course_target}" class="tn-atom">
    %endif

    <span class="register disabled">${_("You are enrolled in this course")}</span>

    %if show_courseware_link:
    <strong>${_("View Course")}</strong>
    </a>
    %endif

% elif is_course_full:
    <span class="register disabled">
    ${_("Course is full")}
    </span>
% elif invitation_only and not can_enroll:
    <span class="register disabled">${_("Enrollment in this course is by invitation only")}</span>
## Shib courses need the enrollment button to be displayed even when can_enroll is False,
## because AnonymousUsers cause can_enroll for shib courses to be False, but we need them to be able to click
## so that they can register and become a real user that can enroll.
% elif not is_shib_course and not can_enroll:
    <span class="register disabled">${_("Enrollment is Closed")}</span>
%elif allow_anonymous:
    %if show_courseware_link:
    <a href="${course_target}" class="tn-atom">
    <strong>${_("View Course")}</strong>
    </a>
    %endif
%else:
    <%
    if ecommerce_checkout:
        reg_href = ecommerce_checkout_link
    else:
        reg_href="#"
    if single_paid_mode:
        href_class = "add-to-cart"
    else:
        href_class = "register"
    %>
    <a href="${reg_href}" class="${href_class} tn-atom">
    ${_("Enroll Now")}
    </a>
    <div id="register_error"></div>
%endif